<html>
  <head>
    <title>Scoria</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/scoria.css">

    <!-- Scripts -->
    <script src="/assets/js/jquery-2.0.3.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/api.js"></script>
    <script src="/assets/js/scoria.js"></script>
  </head>
