<nav class="navbar navbar-default pane full" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Scoria</a>
    <div class="navbar-form navbar-left">
      <div class="form-group">
	<input type="text" id="post-input-text" class="form-control" placeholder="What's on your mind?">
      </div>
      <button id="post-input-button" class="btn btn-primary">Create Post</button>
    </div>
  </div>
</nav>
