body {
  padding-top: 20px;
  background-color: f5f5fa
}

/* div {position:absolute;} 
.posts-table {width:350px; left:300px; top:10px;}
.title-col {width:300px;}
.logout {postion:relative; right:0px; background-color:#3b5998; text-color:#ffffff;}
.upper-right-cp {top:5px; right:5px; width:200px; height:30px;}
.username {position:relative;} */
.pane {
  background-color: #fcfcff;
  border:1px solid #e5e5e5;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
 -moz-box-shadow: 0 1px 2px rgba(0,0,0,.0);
 margin-bottom: 5px;
}
.full {
  width:800px;
  margin-left:auto; 
  margin-right:auto;
}
.left {
  float: left;
  margin-right: 6px;
}
.content {
  width: 400px;
  padding: 10px;
  float: left;
}
.content-container {
  width: 400px;
  padding: 0px;
  float: left;
}
.right {
  float: right;
  margin-left: 5px;
}
.side {
  width: 194px;
  padding: 10px;
}
.side-container {
  width: 194px;
}
.register {
  width: 395px;
  padding: 11px;
}
.form-register {
  margin-top: 11px;
}
.form-changepw {
  margin-top: 5px;
}
.post-comment {
  margin-top:5px;
  float:right;
}
.btn-friend-req {
  margin-top:5px;
}
.navbar {
  margin-bottom: 5;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f5f5fa;
}
.btn-default {
/*  background-color: #fcfcff; */
}
table {
    table-layout: fixed;
    word-wrap: break-word;
}